@font-face {
    font-family: SA;
    /* Имя шрифта */
    src: url(../fonts/SF-UI-Text-Light.ttf);
    /* Путь к файлу со шрифтом */
}

.hidden{
opacity:0;
}
.visible{
opacity:1;
}

@keyframes fades {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


body {
    display: -webkit-flex;
    /* Safari */
    display: flex;
    margin: 0;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: center;
      align-items: center;
}
.header {
    background-size: cover;
    display: flex;
    -webkit-flex-direction: column;
    /* Safari */
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('../img/bg.png') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
.header img {
    width: 100%;
    height: auto;
    margin: 0;
}
.header h1 {
    font-family: SA;
    font-size: 70px;
    color: #fff;
    font-weight: lighter;
    margin: 0;
}
.header a {
    text-decoration: none;
}
.moto {
    margin: 0;
}
.buttonMore {
    align-self: flex-end;
    border-style: solid;
    border-width: 3px;
    border-color: #fff;
    margin-bottom: 10px;
}
.header h2 {
    margin: 4px;
    font-family: SA;
    font-weight: bold;
    color: #fff;
}

.render{
    margin: 0;
    display: flex;
    width: 100%;
    height: auto;
    background-color: #F9F8F6;
}


.render img{
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 1;
}

#render-prod{
  width: 100%;
  height: auto;
  position: absolute;
  z-index: 0;
}

#img1, #img2, #img3, #img4, #img5, #img6, #img7 {
  opacity: 0;
}
